
<div class="col-md-6 col-md-offset-3">
	<div class="jumbotron">
		<div class="container">
			<h1>Remote Plugins Test Service</h1>
			<p>This is a simple service that can be used for testing remote plugins.</p>
			<p><a href="widget">Widget</a>, <a href="nav">Navbar</a>, <a href="isfselector">ISF</a>, and <a href="quicklinksselector">QuickLinks</a> are supported.</p>
		</div>
	</div>
</div>
